.regiao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:20.5rem;
  height: 6.25rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.938rem;
  background-size: cover;
  background-repeat: no-repeat;

  &__nome {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
  }

  &__geracao {
    font-size: 0.688rem;
    font-weight: 400;
    color: #CCCCCC;
  }
}
