.regioes {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap:1rem;

  &__titulo {
    border-bottom: 1px solid #F2F2F2;
  }

  &__descricao {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 1rem;
  }

}
